
<ion-content >
  <ion-icon
  name="arrow-back"
  class="back-icon"
  (click)="goBack()">
</ion-icon>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">


      <ion-img src="../../assets/icon/LogoSIN.png" alt="logo " style="height: 200px;"></ion-img>
      <ion-text>
        <h4><strong>Iniciar Sesión</strong></h4>
        <p>Llena el formulario para continuar</p>
      </ion-text>
      <app-custom-input
      autocomplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo electronico"
      [isLengthRestricted]="false"
      ></app-custom-input>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']" >El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']" >Ingrese un correo valido</div>
      </div>

      <app-custom-input
      autocomplete="password"
      [control]="form.controls.password"
      type="password"
      label="Contraseña"
      icon="lock-closed-outline"
      [counter]="true"
      [maxlength]="10"></app-custom-input>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']" >La contraseña es requerida</div>
        <div *ngIf="form.controls.password.errors?.['maxlength']" >La contraseña debe tener 10 caracteres</div>
        <div *ngIf="form.controls.password.errors?.['minlength']" >La contraseña debe tener 10 caracteres</div>
      </div>
      
      <ion-button expand="block" mode="ios" [routerLink]="['/admin-home']" color="tertiary" type="submit">
        <strong>Ingresar</strong>
      </ion-button>

      <ion-text color="success"  >
        <p [routerLink]="['/forgot-password']" class="ion-text-center">¿Olvidaste tu contraseña?</p>
      </ion-text>


      <!-- {{form.value | json}} -->
    </form>
  </div>

</ion-content>
