<app-header cargo="Pasajero" title="Balance de tu cuenta" [menuItem]="menuItem"></app-header>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">student-home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item style="padding: 5% 20% 0 20%;">
    <ion-avatar slot="start">
      <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Connor Smith</h2>
      <p>Sales Rep</p>
    </ion-label>
  </ion-item>
  <ion-img src="../../assets/icon/qr.png" alt="logo " style="height: 250px;"></ion-img>
  <p class="ion-text-center" ><strong>Tu saldo disponible es de:</strong></p>
  <h1 class="ion-text-center" ><strong>$154.00</strong></h1>

</ion-content>
