<app-header cargo="Administrador" title="Choferes y administradores" [menuItem]="[
{ title: 'Recargar', route: '/admin-home' },
{ title: 'Historial de recargas', route: '/history-payment' },
{ title: 'Registrar', route: '/admin-register-chofer' },
{ title: 'Lista de conductores', route: '/admin-list' },
]"></app-header>
<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content  >
  <ion-segment [(ngModel)]="collectionName" (ionChange)="changeCollection(collectionName)">
    <ion-segment-button value="drivers">Choferes</ion-segment-button>
    <ion-segment-button value="admins">Administradores</ion-segment-button>
  </ion-segment>
  
  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>Rol: {{ user.rol }}</p>
        <p>Telefono: {{formatPhoneNumber(user.telefono) }}</p>
      </ion-label>
      <ion-button  color="warning" mode="ios" slot="end" (click)="editUser(user)">Editar</ion-button>
      <ion-button color="danger" mode="ios" slot="end" (click)="deleteUser(user.uid)">Eliminar</ion-button> <!-- Asegúrate de pasar el 'uid' -->
    </ion-item>
  </ion-list>
  

    <!-- Contenedor para el spinner centrado -->
    <div *ngIf="isLoading" class="loading-container">
      <ion-spinner ></ion-spinner>
    </div>
  
</ion-content>
