.page-home{
  display: flex;
  color: white;
}
.container{
  
  justify-content:center;
  
  align-items: center;
  height: 100dvh;
  
}
ion-grid{
  background-color: #d2f0e6;
  
}
ion-button {
  --background: #05686b; /* Verde */
  color: #ffffff;
}

