<ion-content >
  <div class="d-flex-center-home">
    <div class="home">
      <h3 class="ion-text-center" style="font-weight: bold">¡Bienvenidos a QrTransport!</h3>
          
            <ion-img src="../../assets/icon/logo.png" alt="logo " style="height: 200px;"></ion-img>
         
              <ion-button [routerLink]="['/registrar']" mode="ios" expand="block" class="submit2" >
                Crear una cuenta
              </ion-button>
            
              <ion-button expand="block" [routerLink]="['/auth']" mode="ios" type="subtmit"  class="submit2">
                Iniciar sesión
              </ion-button>
    </div>
  </div>
</ion-content>