<ion-content >
  <div class="d-flex-center-home">
    <div class="home">
      <h3 class="ion-text-center" style="font-weight: bold">¡Bienvenidos a QrTransport!</h3>
          
            <ion-img src="../../assets/icon/LogoSIN.png" alt="logo " style="height: 200px;"></ion-img>
         
              <ion-button [routerLink]="['/sing-up']" mode="ios" expand="block" color="tertiary"  class="submit" >
                Crear una cuenta
              </ion-button>
            
              <ion-button expand="block" [routerLink]="['/auth']" mode="ios" color="tertiary" type="subtmit"  class="submit">
                Iniciar sesión
              </ion-button>
    </div>
  </div>
</ion-content>